.error{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)

}
img{
    height: 300px;
}

p:nth-child(1){
    font-size: 4rem;
    text-align: center;
    color:#2f4f4f;
    font-weight: 700;
    margin-bottom: 20px;

}
p:nth-child(3){
    font-size: 3rem;
    text-align: center;
    color:#2f4f4f;
    font-weight: 700;
    margin-top: 20px;
}


@media screen and (max-width:500px) {
    img{
        height:200px
    }
    
}